html, body
{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 200;
   -webkit-font-smoothing: antialiased;
}
h1
{
	font-weight: 500;
}
#mainBar
{
  background-color: rgba(0,0,0,0.25);
  position: fixed;
  width: 100%;
  margin: 0;
  bottom:0;
  z-index:5242;
  height: 3.25%;
  font-size:28pt;
  font-family: Lucida Console;
  text-align:center;
  color:#686868;
  vertical-align: top;
}
.cursor
{
  cursor: url(cursor.gif),auto;
}
/* Mobile */
@media screen and (max-width: 800px){
  #mainBar
  {
    padding-bottom:5.5%;

  }
  #dockContainer
  {
    margin-bottom:1.5%;

  }
}
@media only screen 
and (max-device-width : 800px) 
and (orientation : landscape) {
/* Styles */
    #mainBar
  {
    padding-bottom:4.5%;

  }
  #dockContainer
  {
    margin-bottom:2.5%;

  }
}
/**/